// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.first-color {
	background: #0881a3;
}

.second-color {
	background: #fffdfb;
}

.third-color {
	background: #fde9df;
}

.fourth-color {
	background: #ffd6a4;
}
