// Fonts


// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';





body {
    font-family: 'EB Garamond', serif;
    font-size: 16px;
    color: #333;
}

h1, h2, h3 {
    font-family: 'EB Garamond', serif;
    font-weight: 700; /* Usa il peso del font più pesante disponibile */
    color: #222;
}
